body {
    font-size: 14pt;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: url("../imgs/silvia-trigo-kAE6Kd7W2UA-unsplash.jpg") center center / cover no-repeat fixed;
}

#navbar {
    position: fixed;
    display: block;
    transition: top 0.3s;
    width: 100%;
    z-index: 9999;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
    top: 0;
    margin: 0;
    filter: drop-shadow(0px 0px 5px #757575);
    height: 40pt;
}

ul * {
    max-height: 38pt;
}

li {
    float: left;
    height: 100%;
}

li a {
    display: block;
    color: #212121;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:active {
    background-color: #E0E0E0;
}

@media (hover: hover) and (pointer: fine) {
    li a:hover {
        background-color: #E0E0E0;
    }
}

.active {
    background-color: #E0E0E0;
}

.nav_bar_spacer {
    height: 40pt;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.first_p_after_main_h {
    margin-block-start: 16pt;
}

img {
    max-width: 100%;
}

.main_text {
    border-radius: 15px;
    background: white;
    border: 1px solid black;
    opacity:0.91;
    margin: 2vw;
    padding: 16pt;
}